<!--libros.html-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Información de la libro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>

<body>
    <fieldset>
        <legend>Información de libros</legend>
        <div class="form-group row">
            {% if libro %}
            <p><strong>Clase:</strong> {{ libro.clase }}</p>
            <p><strong>Título:</strong> {{ libro.titulo }}</p>
            {% if (libro.clase == "Novela") %}
            <p><strong>Genero:</strong> {{ libro.genero }}</p>
            {% elif (libro.clase == "Ensayo") %}
            <p><strong>Tema:</strong> {{ libro.tema }}</p>
            {% elif (libro.clase == "Poesia") %}
            <p><strong>Estilo:</strong> {{ libro.estilo }}</p>
            {% endif %}
            <p><strong>Descripcion:</strong> {{ libro.descripcion() }}</p>
            {% else %}
            <p>La libro seleccionada no fue encontrada en la lista.</p>
            {% endif %}
            <form method="get" action="/">
                <button type="submit" class="btn btn-primary">Mas libros</button>
            </form>
        </div>
    </fieldset>
</body>

</html>